{% assign research-interest = site.data.data.research-interest %}
{% if research-interest %}
  {% if site.data.data.sidebar.research-interest %}
  <div class="education-container container-block">

    <h2 class="container-block-title">
      {{ research-interest.title }}
    </h2>

  <ul class="list-unstyled interests-list">
    {% for interest in research-interest.interests %}
      <li>{{ interest.item }}</li>
    {% endfor %}
  </ul>

  </div><!--//education-container-->

  {% else %}
  <section class="section summary-section">

    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-user fa-stack-1x fa-inverse"></i>
      </span>
      {{ research-interest.title }}
    </h2>

    <div class="summary">
      {{ research-interest.summary | markdownify }}
    </div><!--//summary-->
      
  </section><!--//section-->
  {% endif %}

{% endif %}
