{% assign teaching-assistantship = site.data.data.teaching-assistantship %}
{% if teaching-assistantship %}
<section class="section teaching-assistantship">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    Teaching Assistantship
  </h2>

<!--   <table>

    {% for teaching in teaching-assistantship %}
      <tr>
        <td>{{ teaching.time }} </td>
        <td>{{ teaching.course }}</td>
      </tr>
    {% endfor %}
  
  </table>
-->
    {% for teaching in teaching-assistantship %}
    <div class="item">
      <div class="meta">

        <div class="upper-row">
          <div class="degree">{{ teaching.course }}</div>
          <div class="time">{{ teaching.time }}</div>
        </div><!--//upper-row-->

      </div><!--//meta-->
    {% endfor %}

</section>
{% endif %}
