{% assign working-papers = site.data.data.working-papers %}
{% if working-papers %}
  <section class="section publications-section">

    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
      </span>
      Working Papers
    </h2>

    {% for paper in working-papers %}
    <div class="item">
      <div class="publication-title">{{ paper.title | replace: '!SITE_URL', site.baseurl  | markdownify }} </div>
      <div class="upper-row">
        <div class="publication-authors">{{ paper.author }}</div>
        <button class="time toggle">abstract</button>
      </div>
      {% if paper.summary %}
      
<!--       <p>[expand]</p>
        <div class="summary">
          {{ paper.summary | markdownify }}
        </div>
      <p>[/expand]</p>
 -->
      
      <div class="summary" align="justify" style="display: none">
        {{ paper.summary | markdownify }}
      </div>
      {% endif %}

    </div><!--//item-->
    {% endfor %}

  </section><!--//section-->
{% endif %}
